body {
    background-image: linear-gradient( to left, rgba(255, 0, 247, 0.434),rgba(255, 135, 23, 0.589));
}

#main {
    text-align: center;
    margin-top: 100px;

}

#calc {
    height: 60px;
    width: 270px;
    border: 4px solid rgba(101, 0, 40, 0.164);
    box-shadow: 4px 4px 5px rgb(0, 0, 0);
    border-radius: 10px;
    transition: 0.7s;
    font-size: 35px;
}
.button {
    height: 60px;
    width: 60px;
    margin: 5px;
    font-size: 25px;
    margin-top: 10px;
    border: 4px solid rgba(232, 24, 24, 0.089);
    box-shadow: 4px 4px 5px black;
    border-radius: 10px;
    transition: 0.8s;
}
.button:hover {
    background-color: rgb(255, 0, 0);
}